<app-importar-nota-modal [importarNota]="importarNota" (alertFechou)="fecharImportarNota($event)"></app-importar-nota-modal>

<div class="m-5 cardPerson">
    <div class="col-12">
        <div>
            <h1 class="titulo-ultimas-importacoes">
                Consultar Titulos Pagos
            </h1>
            <h4 class="paragrafo-card">
                Ferramenta de Listagem dos Titulos pagos
            </h4>
            <div class="row text-center">
                <div class="col-lg-12 ">
                    <table class="table table-hover mt-5" aria-describedby="table que lista os pedidos de compra">
                        <thead class="">
                            <tr>
                                <th class="tituloTable">Empresa GPS</th>
                                <th class="tituloTable"> Numero do Titulo</th>
                                <th class="tituloTable"> Parcela</th>
                                <th class="tituloTable">Data de Emissão</th>
                                <th class="tituloTable">Data de Vencimento</th>
                                <th class="tituloTable">Valor Total</th>
                                <th class="tituloTable">Valor Pago</th>
                                <th class="tituloTable">Valor em Aberto</th>
                                <th class="tituloTable">Numero da RPS </th>
                                <th class="tituloTable">Status</th>
                                <th class="tituloTable">Data de Pagamento</th>
                                <th class="tituloTable"></th>
                                <th class="tituloTable"></th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-nowrap">xxxxxx</td>
                                <td class="text-nowrap">1234556</td>
                                <td class="text-nowrap">15</td>
                                <td class="text-nowrap">01/04/2021</td>
                                <td class="text-nowrap">01/04/2021</td>
                                <td class="text-nowrap">xxxxxx</td>
                                <td class="text-nowrap">R$ 10.000,00</td>
                                <td class="text-nowrap">R$ 5.000,00</td>
                                <td class="text-nowrap">1234</td>
                                <td class="text-nowrap">Aberto</td>
                                <td class="text-nowrap">01/04/2021</td>
                                <td class="text-nowrap"><i title="Visualizar Arquivo PDF" class="fa fa-file cursor"></i></td>
                                <td class="text-nowrap"><i (click)='abrirImportarNota()' title="Fazer Upload da Nota"  class="fa fa-upload cursor"></i></td>


                            </tr>
                        </tbody>
                    </table>

                    <pagination-controls class="my-pagination" id="paginacaoContatos" directionLink="true"
                        (pageChange)="paginaContato = $event" responsive="true" autoHide="true" previousLabel="Anterior"
                        nextLabel="Próxima">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>