<footer class="bg-primary w-100 py-3 footer">
    <div class="container-fluid">
          <div class="row">
                <div class="col-6 col-md-4 col-lg-4 col-xl-1 mb-3 mb-xl-0">
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-2 mb-3 mb-xl-0">
                      <h5 class="titulo-footer">Atendimento</h5>
                      <span class="paragrafo-footer">Segunda a Sexta,</span> <span class="paragrafo-footer text-bold detalhe"> das 8 às 19h</span>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl mb-3 mb-xl-0">
                      <h5 class="titulo-footer">E-mail</h5>
                      <span class="paragrafo-footer">xxxx</span>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-3 mb-3 mb-xl-0 pl-md-5">
                      <h5 class="titulo-footer">Capitais e regiões metropolitanas</h5>
                      <span class="paragrafo-footer">00-000</span>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl mb-3 mb-xl-0">
                      <h5 class="titulo-footer">Outras localidades</h5>
                      <p class="paragrafo-footer">000-0000</p>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-3 mb-3 mb-xl-0">
                      <h5 class="titulo-footer">Ouvidoria</h5>
                      <p class="paragrafo-footer">0000-0000 - Segunda a Sexta, das <span class="paragrafo-footer text-bold detalhe"> 0000000</span></p>
                </div>
          </div>
    </div>
</footer>