<div class="body-alert" (click)='clickClose($event)' *ngIf="editarUsuario === true">
    <div class="tamanhoBox scroll">
        <div class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2 alinharDireita">
                <button class="btn ml-5" (click)="fechar()">
                    <i class="fa fa-times  fa-2x" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <h1 class="titulo-ultimas-importacoes">
            Painel para Cadastro de Usuários
        </h1>
        <h4 class="paragrafo-card mb-5">
            Ferramenta para criação de Usuários
        </h4>
        <hr>
        <form [formGroup]="form">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <h5>Nome Completo:</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="nome"
                                placeholder="Insira o seu nome" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h5>Email:</h5>
                        <div class="input-group">
                            <input type="email" class="form-control" formControlName="email"
                                placeholder="Insira o seu email" />

                        </div>

                    </div>
                    <div class="col-lg-4">
                        <h5>Usuário</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="usuario"
                                placeholder="Insira um nome de usuario" />

                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <h5>Tipo de Acesso:</h5>
                        <select class="form-select" aria-label="Default select example" formControlName="tipoAcesso">
                            <option value="1">Padrão</option>
                            <option value="2">Adm Fornecedor</option>
                            <option value="3">Adm Gps</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <h5>Status:</h5>
                        <select class="form-select" aria-label="Default select example" formControlName="status">
                            <option value="1">Ativo</option>
                            <option value="2">Inativo</option>
                        </select>

                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-4">
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-7"></div>
            <div class="col-3 alinharDireita">
                <button class="botao-outline" type="button" (click)='cancelar()'>CANCELAR</button>
            </div>
            <div class="col-2">
                <button class="btn btn-dark btnGps" type="button">OK</button>

            </div>
        </div>



    </div>
</div>