<div class="cardPerson m-5">
    <h1 class="titulo-ultimas-importacoes">
        Painel de importação de Notas Fiscais
    </h1>
    <h4 class="paragrafo-card mb-3">
        Ferramenta para importação de notas fiscais
    </h4>

    <!-- Importador de arquivos, a parte que vai escolher o arquivo -->
    <ng-container *ngIf="xml">

        <div class="text-center mt-5">
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item">Numero NT: {{numeroNotaFiscal}}</li>
                <li class="list-group-item">Data Emissao: {{dataEmissao | date:'dd/MM/yyy'}}</li>
                <li class="list-group-item">CNPJ do Emissor: {{cnpjEmissor}}</li>
                <li class="list-group-item">Nome do Emissor: {{nomeEmissor}}</li>
                <li class="list-group-item">Nome do Destinatario: {{nomeDestinatario}}</li>
                <li class="list-group-item">CNPJ do Destinatario: {{cnpjDestinatario}}</li>
              </ul>
        </div>
    </ng-container>

    <!-- table de produtos -->
        <ng-container *ngIf="produtos && xml">
    <div class="row">
        <div class="col">
            <table class="table table-hover mt-3">
                <thead class="">
                    <tr>
                        <th class="tituloTable">Codigo do Produto</th>
                        <th class="tituloTable">Nome do Produto</th>
                        <th class="tituloTable">Unidade de Medida</th>
                        <th class="tituloTable">Quantidade</th>
                        <th class="tituloTable">Valor Unitario</th>
                        <th class="tituloTable">Valor Total</th>



                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prod of produtos">
                        <td class="text-nowrap">{{prod.PROD[0].CPROD[0]}}</td>
                        <td class="text-nowrap">{{prod.PROD[0].XPROD[0]}}</td>
                        <td class="text-nowrap">{{prod.PROD[0].UCOM[0]}}</td>
                        <td class="text-nowrap">{{prod.PROD[0].QCOM[0]}}</td>
                        <td class="text-nowrap">{{prod.PROD[0].VUNCOM[0]}}</td>
                        <td class="text-nowrap">{{prod.PROD[0].VPROD[0]}}</td>

                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>

    <!-- table de servicos do rio -->

<ng-container *ngIf="produtosServRio && xml">
    <div class="row">
        <div class="col">
            <table class="table table-hover mt-3">
                <thead class="">
                    <tr>
                        <th class="tituloTable">Descrição do Serviço</th>
                        <th class="tituloTable">Valor Total</th>



                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prod of produtosServRio">
                        <td class="text-nowrap">{{prod.DISCRIMINACAO}}</td>
                        <td class="text-nowrap">R$ {{prod.VALORES[0].VALORSERVICOS}}</td>

                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>
    <div class="row">
        <div class="col-8">
            <div class="file-drop-area" [formGroup]="form">
                <button class="botao-outline margL">{{
                    nomeArquivo
                    }}</button>
                <img src="../../../assets/images/upload-arquivo.png" alt="imagem de upload de arquivo" width="40px"
                    class="float-left mr-3 margL" />
                <span class="file-msg margL">Arraste ou selecione seu arquivo <br />Formato
                    <strong>.xml</strong></span>
                <input class="file-input" id="file" #inputFile type="file" accept=".xml"
                    (change)="capturarArquivo($event)" formControlName="file" />

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 alinharDireita">

            <button class="botao-outline" (click)="cancelarCapturaArquivo()" type="button">CANCELAR</button>
            <button class="btn btn-dark btnGps margL" (click)="postDados()" type="button"
                [ngClass]="{disabled: !checkArquivo}">ENVIAR</button>
        </div>

    </div>
</div>