<app-novo-usuario [novoUsuario]="novoUsuario" (alertFechou)="fecharDetalhesCompra($event)"></app-novo-usuario>
<app-edicao-usuario [editarUsuario]="editarUsuario" (alertFechou)="fecharEditarUsuario($event)"></app-edicao-usuario>


<div class="m-5 cardPerson">
    <div class="col-12">
        <div class="mb-4">
            <h1 class="titulo-ultimas-importacoes">
                Cadastro de Usuários.
            </h1>
            <h4 class="paragrafo-card mb-5">
                Ferramenta que Lista os Usuários.
            </h4>
            <div class="row">
                <div class="col-lg-1 mt-2 alinharDireita">
                    Usuarios:
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <ng-select class="form-select" [items]="accounts" bindLabel="name" bindValue="name"></ng-select>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-2">
                <div class="col-lg-1"></div>
                <div class="col-lg-4 card-header">
                    Usuarios:
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4 card-header">
                    Lista de Empresas:
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-1"></div>
                <div class="col-lg-4 card-header">
                    <div class="row">
                        <div class="col-10">
                            <a>Giovanni Guariento </a>

                        </div>
                        <div class="col-1 alinharDireita">
                            <i class="fa fa-plus icone-lupa"></i>

                        </div>
                        <div class="col-1 alinharDireita">
                            <i class="fa fa-pencil icone-lupa" (click)='abrirEditarUsuario()'></i>

                        </div>

                    </div>

                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4 card-header">
                    <div class="row">
                        <div class="col-11">
                            <a>Grupo Gps </a>

                        </div>
                        <div class="col-1 alinharDireita">
                            <i class="fa fa-plus icone-lupa"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-1"></div>
                <div class="col-lg-4 card-header">
                    <div class="row">
                        <div class="col-11">
                            <a>Novo Usuario </a>

                        </div>
                        <div class="col-1 alinharDireita">
                            <i class="fa fa-plus icone-lupa" (click)='abrirNovoUsuario()'></i>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>