

#sidebar-wrapper {
  min-height: 180%;
}



.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

.esconde {
  
  transition: all 0.80s;
  margin-left: -300px;
  
}

.mostra {
  
  transition: all 0.80s;
  margin-left: 0px;
  
}



.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(
90deg
);
}

@mixin list-unstyled {
    list-style: none;
  }
  

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    color: aliceblue;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgb(252, 245, 245)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;

  }


.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}



#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}



.pointer {
    cursor:pointer
}

.bg {
    background-color: #0F2533 ;
}

.fontColor {
    color: rgb(252, 245, 245);
    font-style: normal;
    font-weight: 500;
  }

.bg-pagina{
    max-width: 100%;
    height: auto;;
    background-size: 100% 100%;
    background-color: #f1f1f3;
}

.paragrafo{
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  margin-bottom: 4px;
  margin-left: 30px;

}

.margL{
  margin-left: 30px;
}

.icone{
  &:hover { cursor: pointer; color: #0F2533; }
  border-radius: 8px;
  z-index: 500;
}





