

    <!-- Sidebar -->
    <div class="bg" id="sidebar-wrapper" *ngIf="isShowMenu">
        <app-carrinho></app-carrinho>

        <a routerLink="/home" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">
            <img class="m-4" src="../assets/images/u9.png" alt="logo do grupo gps" width="150" height="60">
        </a>
        <div class="mt-5 list-group list-group-flush">
            <span class="m-3 pointer">
                <button class="btn-toggle align-items-center rounded collapsed fontColor" data-bs-toggle="collapse"
                    data-bs-target="#home-collapse" aria-expanded="false">
                    Pedidos de Compra
                </button>
                <div class="collapse" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a routerLink="/ConsultarPedidosCompra" class="link-dark rounded fontColor">Consultar Pedidos de
                                Compra</a></li>
                        <li><a routerLink="/GerarPedidoCompra" class="link-dark rounded fontColor">Gerar Pedido de Compra</a></li>
                    </ul>
                </div>
            </span>
            <span class="m-3 pointer mt-5">
                <button class="btn-toggle align-items-center rounded collapsed fontColor" data-bs-toggle="collapse"
                    data-bs-target="#home-collapse1" aria-expanded="false">
                    Tabela de Preço
                </button>
                <div class="collapse" id="home-collapse1">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a routerLink="/Consulta-Tabela-Preco" class="link-dark rounded fontColor">Consulta Tabela de Preços</a></li>
                        <li><a routerLink="/Atualizar-Tabela-Preco" class="link-dark rounded fontColor">Atualização da Tabela de Preços</a></li>
                    </ul>
                </div>
            </span>
            <span class="m-3 pointer mt-5">
                <button class="btn-toggle align-items-center rounded collapsed fontColor" data-bs-toggle="collapse"
                    data-bs-target="#home-collapse2" aria-expanded="false">
                    Financeiro
                </button>
                <div class="collapse" id="home-collapse2">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a routerLink="/ConsultaTitulos" class="link-dark rounded fontColor">Consulta Títulos Pagos</a></li>
                        <li><a routerLink="/ConsultaTitulosAberto" class="link-dark rounded fontColor">Consulta Titulos em Aberto</a></li>
                    </ul>
                </div>
            </span>
            <span class="m-3 pointer mt-5">
                <button class="btn-toggle align-items-center rounded collapsed fontColor" data-bs-toggle="collapse"
                    data-bs-target="#home-collapse3" aria-expanded="false">
                    Cadastro
                </button>
                <div class="collapse" id="home-collapse3">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a class="link-dark rounded fontColor">Cadastro de Usuarios</a></li>
                        <li><a class="link-dark rounded fontColor">Locais de Entrega</a></li>
                        <li><a class="link-dark rounded fontColor" (click)='logout()'>Logout</a></li>
                    </ul>
                </div>
            </span>
        </div>
    </div>


