

    <!-- Sidebar -->
    
    <div class="bg" id="sidebar-wrapper" *ngIf="isShowMenu" [ngClass]="{esconde: openMenu == 'close' , mostra: openMenu == 'open'}">

        <a (click)='abrirMenu()' routerLink="/home" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">
            <img class="mt-5 margL" src="../assets/images/u9.png" alt="logo do grupo gps" width="150" height="60">
        </a>
        <hr class="corLinha mt-5">

        <div>
            <p class="paragrafo"><i class="fa fa-user  "></i> Giovanni Guariento</p>
            <p class="paragrafo"><i class="fa fa-building "></i> Grupo Gps</p>
            <p class="paragrafo"><i class="fa fa-address-card "></i> 97.165.605/0001-74</p>
        </div>
        <hr class="corLinha">
        <div class="mt-4 list-group list-group-flush mt-5 ">
        <a class="teste" routerLink="/ConsultarPedidosCompra"><i class="fa fa-2x fa-dollar margemIco"></i> Pedidos de Compra</a>
        <a class="teste" routerLink="/Atualizar-Tabela-Preco"><i class="fa fa-2x fa-table margemIco "></i> Atualizar Tabela Preço</a>
        <a class="teste" routerLink="/Consultar-Titulos"><i class="fa fa-2x fa-clipboard margemIco"></i> Consultar Títulos</a>
        <a class="teste" routerLink="/Importar-Nota-Fiscal"><i class="fa fa-2x fa-cloud-upload margemIco"></i> Importar Nota Fiscal</a>
        <a class="teste" routerLink="/Cadastro-de-Usuarios"><i class="fa fa-2x fa-user-plus margemIco"></i> Cadastro de Usuarios</a>

        </div>
    </div>


