.ajuste {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.correcao{
    max-width: 100%;
}


.bg {
    background-color: #0F2533 ;
  }

  .cursor {
    cursor: pointer
  }

  .cardPerson {
    max-width: 100% !important; 
  }