.div-alert{
    width: 1000px;
    z-index: 200000;

  }

  .tamanhoBox {
    width: 800px;
    background: #FFFFFF; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    padding: 12px 18px;
    height: 550px; 
    overflow-y : auto;
    
  }

  .scroll{
    height: 500px; 
    overflow-y : auto;
  }

  .lixo {
    color: rgb(168, 24, 24);
  }

  .icone-olho{
    font-size: 16px;
    font-weight: 200;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    left: -25px;
    &:hover { cursor: pointer; }
}

.negrito{
    color: #6d6a6a;
    font-weight: bold
    ;
}

.gpsColor{
    color:var(--primary-color);
}
.vermelho{
    color: #d61616;
}

.margL{
    margin-left: 30px;
  }




      
