<div class="m-5 cardPerson">
  <div class="col-12">
    <div class="mb-4">
      <h1 class="titulo-ultimas-importacoes">
        Consultar Tabela de Preço
      </h1>
      <h4 class="paragrafo-card mb-5">
        Ferramenta de Listagem e Atualização de tabela de preço
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      <h5>CNPJ</h5>
      <div class="input-group">
        <input [(ngModel)]="cnpj" type="text" class="form-control" />
        <button class="btn p-0 iconeSearch">
          <i class="fa fa-search c-black" id="iconeOlho" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="col-5">
      <h5>Tabela de Preço</h5>
      <div class="input-group">
        <input [(ngModel)]="tabelaPreco" type="text" class="form-control" />
        <button class="btn p-0 iconeSearch">
          <i class="fa fa-search c-black" id="iconeOlho" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <div class="row">
                <div class="col-4 alinharEsquerda">
                  <button class="btn " type="button" data-toggle="collapse" data-target="#collapseOnePreco"
                    aria-expanded="true" aria-controls="collapseOnePreco">
                    Fornecedor: Novo Conceito
                  </button>
                </div>
                <div class="col-3">
                  <button class="btn text-nowrap " type="button" data-toggle="collapse" data-target="#collapseOnePreco"
                    aria-expanded="true" aria-controls="collapseOnePreco">
                    Tabela de Preço : 001
                  </button>
                </div>
                <div class="col-1 alinharDireita">
                  <button class="btn text-nowrap " type="button" data-toggle="collapse" data-target="#collapseOnePreco"
                    aria-expanded="true" aria-controls="collapseOnePreco">
                    Loja: 01
                  </button>
                </div>
                <div class="col-3 alinharDireita">
                  <button class="btn " type="button" data-toggle="collapse" data-target="#collapseOnePreco"
                    aria-expanded="true" aria-controls="collapseOnePreco">
                    Status : xxxxxxx
                  </button>
                </div>
              </div>
            </h5>
          </div>

          <div id="collapseOnePreco" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body overFlow">

              <table class="table">
                <thead>
                  <tr>
                    <th class="tituloTable text-nowrap">Item</th>
                    <th class="tituloTable text-nowrap">Produto</th>
                    <th class="tituloTable text-nowrap">Descrição</th>
                    <th class="tituloTable text-nowrap">Preço Unitátio</th>
                    <th class="tituloTable text-nowrap">Status</th>
                    <th class="tituloTable text-nowrap">Novo Preço Unitátio</th>
                    <th class="tituloTable text-nowrap">Vigência</th>
                    <th class="tituloTable text-nowrap"><button class="btn btn-dark btnGps mt-1" type="button">Atualizar</button></th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">0</th>
                    <td >xxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td> <input class="form-control" type="text" prefix="R$ " mask="separator.2"
                        thousandSeparator="." />
                    </td>
                    <td>
                      <ng-select class="form-select" [items]="accounts" bindLabel="country" bindValue="name"
                        style="width: 200px;" [(ngModel)]="localEntrega">
                      </ng-select>
                    </td>
                    <td></td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>