<div class="m-5 cardPerson" [ngClass]="{ 'cardPersonAjuste': openMenu == 'close'}">
  <div class="col-12">
    <div class="mb-4">
      <h1 class="titulo-ultimas-importacoes">
        Atualizar Tabela de Preço
      </h1>
      <h4 class="paragrafo-card mb-5">
        Ferramenta de Listagem e Atualização de tabela de preço
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      <h5>Buscar</h5>
      <div class="input-group">
        <input [(ngModel)]="term" type="text" class="form-control" (keyup)="searchUserFilter()" />
        <button class="btn p-0 iconeSearch">
          <i class="fa fa-search c-black" id="iconeOlho" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="col-5">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="accordion" id="{{teste.name}}" *ngFor="let teste of accounts | filter : term ">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <div class="row">
                <div class="col-4 alinharEsquerda">
                  <button class="btn " type="button" data-toggle="collapse" attr.data-target="#asd{{teste.name}}"
                    aria-expanded="true" aria-controls="collapseOnePreco">
                    Fornecedor: {{teste.name}}
                  </button>
                </div>
                <div class="col-3">
                  <button class="btn text-nowrap " type="button" data-toggle="collapse" attr.data-target="#asd{{teste.name}}"
                    aria-expanded="true" aria-controls="collapseOnePreco">
                    Tabela de Preço : {{teste.tabelaPreco}}
                  </button>
                </div>
                <div class="col-1 alinharDireita">
                  <button class="btn text-nowrap " type="button" data-toggle="collapse" attr.data-target="#asd{{teste.name}}"
                    aria-expanded="true" aria-controls="collapseOnePreco">
                    Loja: {{teste.loja}}
                  </button>
                </div>
                <div class="col-3 alinharDireita">
                  <button class="btn " type="button" data-toggle="collapse" attr.data-target="#asd{{teste.name}}"
                    aria-expanded="true" aria-controls="collapseOnePreco">
                    Status : {{teste.status}}
                  </button>
                </div>
              </div>
            </h5>
          </div>

          <div id="asd{{teste.name}}" class="collapse" aria-labelledby="headingOne" attr.attr.data-target="#{{teste.name}}">

            <div class="card-body overFlow">

              <table class="table">
                <thead>
                  <tr>
                    <th class="tituloTable text-nowrap">Item</th>
                    <th class="tituloTable text-nowrap">Produto</th>
                    <th class="tituloTable text-nowrap">Descrição</th>
                    <th class="tituloTable text-nowrap">Preço Unitátio</th>
                    <th class="tituloTable text-nowrap">Status</th>
                    <th class="tituloTable text-nowrap">Novo Preço Unitátio</th>
                    <th class="tituloTable text-nowrap">Vigência</th>
                    <th class="tituloTable text-nowrap"><button class="btn btn-dark btnGps mt-1" type="button">Atualizar</button></th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let teste of accounts ; let i = index">
                    <th scope="row">0</th>
                    <td >xxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td>xxxx</td>
                    <td> <input class="form-control" type="text" prefix="R$ " mask="separator.2"
                        thousandSeparator="." />
                    </td>
                    <td>
                      <input class="form-control" type="date" [(ngModel)]="dataVigencia" />
                    </td>
                    <td></td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>