.div-alert{
    width: 1000px;
    z-index: 200000;

  }

  .tamanhoBox {
    width: 561px;
    background: #FFFFFF; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    padding: 12px 18px;
    height: 550px; 
    overflow-y : auto;
    
  }

  .lixo {
    color: rgb(168, 24, 24);
  }



      
