<div class="body-alert" *ngIf="detalhesCompra === true">
    <div class="tamanhoBox scroll text-center">
      <div class="row">
        <div class="col-lg-10"></div>
        <div class="col-lg-2 alinharDireita">
          <button class="btn ml-5" (click)="fechar()">
            <i class="fa fa-times  fa-2x" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <h4> Detalhes do Pedido : 123456789  </h4>
      <hr>
      <div class="card-body">
        <div class="alinharEsquerda">
      </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Produtos</th>
              <th scope="col">Descrição</th>
              <th scope="col">QNT</th>
              <th scope="col">Valor Unitario</th>
              <th scope="col">Valor Total   </th>
              <th scope="col">Local de Entrega</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>xxxx</td>
              <td>xxxx</td>
              <td>xxxx</td>
              <td>xxxx</td>
              <td>xxxx</td>
              <td>xxxx</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>