  <div class="body-alert" *ngIf="carrinho === true">
    <div class="tamanhoBox scroll text-center">
      <div class="row">
        <div class="col-lg-10"></div>
        <div class="col-lg-2">
          <button class="btn" (click)="fechar()">
            <i class="fa fa-times  fa-2x" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <img
        class="mb-4 imagem"
        src="../../../assets/images/carrinho.png" width="70px" alt=""
      />
      <h4 > Confira abaixo seus itens adicionados ao carrinho.</h4>
      <hr>
    </div>
  </div>
  