

  .tamanhoBox {
    width: 561px;
    background: #FFFFFF; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    padding: 12px 18px;
    overflow-y : auto;
    
  }

  .scroll{
    height: 400px; 
overflow-y : auto;
  }

  .alinharTexto {
      text-align: left;
  }
      
