.icone{
    &:hover { cursor: pointer; color: #0F2533; }
    border-radius: 8px;
    z-index: 500;
}

.iconeSearch{
    font-size: 16px;
    font-weight: 200;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
    left: -25px;
    &:hover { cursor: pointer; }
}

.cardPersonAjuste {
    max-width: 1080px !important;
 }


