<app-loading [loading]="loading"></app-loading>
<app-success [successGenerico]="alertSucesso" (alertFechou)="fecharAlertSucesso($event)">
</app-success>

<app-error [error]="error" (alertFechou)="fecharerror($event)">
</app-error>

<app-detalhes-compra [detalhesCompra]="detalhesCompra" (alertFechou)="fecharDetalhesCompra($event)">
</app-detalhes-compra>

<div class="m-5 cardPerson" [ngClass]="{cardPersonAjuste: ajuste == 'open'}">
    <div class="col-12">
        <div class="mb-4">
            <h1 class="titulo-ultimas-importacoes">
                Consultar Pedidos de Compra
            </h1>
            <h4 class="paragrafo-card mb-5">
                Ferramenta de Listagem dos Pedidos de Compra
            </h4>
            <div class="row alinharEsquerda">
                <div class="col-4">
                    <h5>Procure por Pedidos</h5>
                    <div class="input-group alinharEsquerda">
                        <input [(ngModel)]="term" type="text" class="form-control" id="inputSenha" (keyup)="searchUserFilter()" />
                        <button class="btn p-0 iconeSearch">
                            <i class="fa fa-search c-black" id="iconeOlho" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-hover  mt-3 " aria-describedby="table que lista os pedidos de compra">
                        <thead>
                            <tr>
                                <th class="tituloTable"></th>
                                <th class="tituloTable ">CNPJ do Fornecedor</th>
                                <th class="tituloTable">CNPJ da GPS</th>
                                <th class="tituloTable">Nome da GPS</th>
                                <th class="tituloTable ">Numero do Pedido </th>
                                <th class="tituloTable">Data de Emissão</th>
                                <th class="tituloTable">Data de Entrega</th>
                                <th class="tituloTable">Valor do Pedido </th>
                                <th class="tituloTable">Valor do Pedido </th>
                                <th class="tituloTable">Condição Pagamento</th>
                                <th class="tituloTable">Comprador</th>
                                <th class="tituloTable">Status</th>
                                <th class="tituloTable"></th>
                                <th class="tituloTable"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let teste of accounts | filter : term ">
                                <td class="text-nowrap"><i class="fa fa-plus-square icone" (click)='abrirDetalhesCompra()'></i></td>
                                <td class="text-nowrap">{{teste.cnpjForn}}</td>
                                <td class="text-nowrap">{{teste.cnpj}}</td>
                                <td class="text-nowrap">{{teste.nomeGps}}</td>
                                <td class="text-nowrap">{{teste.numeroPed}}</td>
                                <td class="text-nowrap">123456789</td>
                                <td class="text-nowrap">123456789</td>
                                <td class="text-nowrap">123456789</td>
                                <td class="text-nowrap">123456789</td>
                                <td class="text-nowrap">123456789</td>
                                <td class="text-nowrap">123456789</td>
                                <td class="text-nowrap">123456789</td>
                                <td class="text-nowrap"><i class="fa fa-search icone"></i></td>
                                <td class="text-nowrap"><i class="fa fa-file icone"></i></td>

                            </tr>
                        </tbody>
                    </table>

                    <pagination-controls class="my-pagination" id="paginacaoContatos" directionLink="true"
                        (pageChange)="paginaContato = $event" responsive="true" autoHide="true" previousLabel="Anterior"
                        nextLabel="Próxima">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>