.icone-olho{
    font-size: 16px;
    font-weight: 200;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
    left: -25px;
    &:hover { cursor: pointer; }
}

.ng-dropdown-panel {
    background-color: white !important;
}


select-dropdown {
    display: none;
}